body{
    margin: 0;
    padding: 0;
    font-size: 0.875rem;
    font-family: 'Poppins', sans-serif;


}

.container{
    height: 100vh;

    img{
        border-bottom: 50% ;
        border-left: 50% ;
        border-right: 50%;
    
        width: 100%;
    }
}